---

white_listed_ips:
  - 192.168.2.2

include:
{% for site, attributes in remap.iteritems() %}
{% if attributes["banjax_path"] %}
  - banjax.d/{{site}}.conf
{% endif %}
{% endfor %}

challenger :
  key: {{challenger_key}}
  difficulty: 8
