site.yml
clients.yml
clients.yml-revisions
override.yml
hosts.yml
config/
bind/
ats/
banjax/
autobrains_update.sh
old/
daemon/*.o
daemon/cglobals.h
daemon/autodctl
daemon/ad2p
daemon/ad2ssh
bin/
*.swp
