site.yml
clients.yml
clients.yml-revisions
override.yml
hosts.yml
config/
bind/
ats/
banjax/
letsencrypt/
autobrains_update.sh
old/
daemon/*.o
daemon/cglobals.h
daemon/autodeflect
daemon/ad2p
daemon/ad2ssh
daemon/ad2runner
bin/
*.swp
/http/vendor/
/http/logs/*
!/http/logs/README.md
/http/templates/cache/*
!/http/templates/cache/README.md
http/.gitignore
.DS_STORE
composer.lock
http/config.php
siteslist.json
