
[defaults]
hostfile = ./hosts.yml
# This is so stupid - ansible currently uses hash_behaviour, but it
# will almost certainly end up using hash_behavior long-term so I'll
# keep both here.
hash_behavior=merge
hash_behaviour=merge
