---
remap:
  example.local:
    letsencrypt: true
    network: example-dnet 
    origin_http_port: 6669
    origin_https_port: 6669
    bypass_remap: true
    remove_http_map: true
    cache_time: 0
    cachecontrol: true
    cache_ignore_qs: true
    cache_exceptions:
      - { url_regex: '(www\.)?site.com',
          action: ttl-in-cache=1h30m }
    confremap: true
    additional_domain_prefix:
      - "subdomain1"
      - "subdomain2"
    add_banjax_whitelist:
      - 192.168.4.66
      - 192.168.70.30
    banjax_whitelist_include_auth: true
    origin_object: '/ttx/'
    banjax_sha_inv: true
    banjax_captcha: true
    banjax_path_exceptions:
     - "wp-admin/admin-ajax.php"
    banjax_path:
     - "wp-admin"
     - "wp-login.php"
    banjax_regex_banner:
      - { interval: 20,
          hits_per_interval: 6,
          regex:{
            method: 'POST',
            url: '/xmlrpc\.php',
            ua: '.*'}}
      - { interval: 20,
          hits_per_interval: 6,
          regex:{
            method: 'POST',
            url: '/wp-admin/example\.php',
            ua: '.*'}}
