# {{ansible_managed}}
{% for dnet in dnets %}
{% if dnets[dnet] is defined and dnets[dnet] %}
# in {{dnet}} dnet
zone "{{dnets[dnet]}}" {
      type master;
      file "edgemanage/{{dnets[dnet]}}.zone";
      also-notify { {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
      allow-query { 127.0.0.1; {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
      allow-transfer { {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
};
{% endif %}
{% endfor %}
{% for site, attributes in remap | dictsort %}
{% if "dns_records" in attributes -%} 
# in {{attributes.network}} dnet
{% if "next_migration" in attributes and attributes.next_migration == False %}
zone "{{site}}" {
      type master;
      file "edgemanage/{{site}}.zone";
      also-notify { {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
      allow-query { 127.0.0.1; {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
      allow-transfer { {% for notify in dns_notify_servers %}{{notify}}; {% endfor %}};
};
{% else %}
# {{site}} skipped because on migrated or next_migration was not set
{% endif %}
{% endif %}
{% endfor %}
