{% for site, siteattrs in remap | dictsort %}
{% if item.key == siteattrs["network"] %}
; Records for {{ site }}
$GENERATE 0-30 {{siteattrs["hidden"]}}.hidden.$m IN A   {{siteattrs["origin"]}}   
$GENERATE 30-2880/10 {{siteattrs["hidden"]}}.hidden.$m IN A     {{siteattrs["origin"]}}
{% if "nocookie" in remap[site] and remap[site]["nocookie"] %}
{{siteattrs["hidden"]}}.hidden.nocookie IN A	{{siteattrs["origin"]}}
{% endif %}

{% endif %}
{% endfor %}
