; {{ no_edit_template }}
; {{ dnets[item.key] }} zonefile

lists		IN	MX 10 mail.{{ dnets[item.key] }}.

; A list of edge servers
myedge1	    	IN	A	192.168.33.1

httpbin		IN	CNAME	{{ dnets[item.key] }}.

; sundry hostnames
www				IN	CNAME	{{ dnets[item.key] }}.
{{item.key}}			IN	CNAME	{{ dnets[item.key] }}.

;;;;; origin records ;;;;;

{% include "networkzone.j2" %}

