; {{ no_edit_template }}
{% for domain, entries in item.value["dns_records"] | dictsort %}
{% for entry in entries %}
{% if domain == item.key or domain == "@" %}
{% if entry["type"] == "NS" or entry["type"] == "A" %}
; skipped record of type {{entry["type"]}} and value {{entry["value"]}}
{% elif entry["type"] == "TXT" %}
{{domain}}     IN      {{entry["type"]}}       "{{entry["value"]}}"
{% elif entry["type"] == "MX" %}
{{domain}}	IN	{{entry["type"]}}       {{entry["value"][0]}}   {{entry["value"][1]}}
{% else %}
@		IN	{{entry["type"]}}       {{entry["value"]}}
{% endif %}
{% else %}
{% if entry["type"] == "MX" %}
{{domain}}	IN	{{entry["type"]}}	{{entry["value"][0]}}	{{entry["value"][1]}}
{% elif domain == "www" and (entry["type"] == "A" or entry["type"] == "CNAME") %}
www		IN	 CNAME  {{item.key}}.
{% elif entry["type"] == "TXT" %}
{{domain}}	IN      {{entry["type"]}}	"{{entry["value"]}}"
{% else %}
{{domain}}	IN	{{entry["type"]}}	{{entry["value"]}}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
