{% for site, siteattrs in remap | dictsort %}
define service{
	host_name			Deflect_Delegation
	servicegroups			DeflectDelegation
	service_description		{{site}}
	check_command			check_delegation!{{site}}
	use				generic-service
	normal_check_interval		30
}

{% endfor %}
