# {{ansible_managed}} 

{% set ipaddrs = dict() -%}

{%- for site in remap -%}
{%- if item.key == remap[site]["network"] -%}

{%- set origin = remap[site]["origin"] -%}

{%- if origin in ipaddrs -%}
{%- set _dummy = ipaddrs[origin].append( site + ".origin" ) -%}
{%- else -%}
{%- set _dummy = ipaddrs.update({origin: [site + ".origin" ]}) -%}
{%- endif -%}

{%- endif -%}
{%- endfor -%}

{%- for ipaddr in ipaddrs %}
{{ipaddr}}		{% for sitename in ipaddrs[ipaddr] | sort %}{{sitename}} {% endfor %}

{% endfor %}

# include config/hosts.origin.all
{% include "config/hosts.origin.all" ignore missing %}

# include config/hosts.origin.{{item.key}}
{% include "config/hosts.origin." + item.key ignore missing %}

