# {{ no_edit_template }}
{% include "config/remap.d/" + item.key + ".config" ignore missing %}

# END include config/remap.d/{{item.key}}.config
{% if remap[item.key]["bypass_remap"] is not defined or remap[item.key]["bypass_remap"] == false %}
regex_map http://^(www\.)?{{item.key | regex_replace('\.', '\\.')}}$/ http://{{remap[item.key]["hidden"]}}.origin.{{remap[item.key]["cache_time"]}}m.
{%- if dnets[remap[item.key]["network"]] is defined and dnets[remap[item.key]["network"]] %}
{{dnets[remap[item.key]["network"]]}}
{%- else %}
{{dnets[default_dnet]}}
{%- endif %}
{%- if remap[item.key]["origin_http_port"] is defined %}:{{remap[item.key]["origin_http_port"]}}/
{%- else %}/
{%- endif %}
{% if remap[item.key]["confremap"] is defined and remap[item.key]["confremap"] %} @plugin=conf_remap.so @pparam=/usr/local/trafficserver/conf/conf.d/{{item.key}}.config
{% else %}

{% endif %}

{% if remap[item.key]["https"] %}
regex_map https://^(www\.)?{{item.key | regex_replace('\.', '\\.')}}$/ https://{{remap[item.key]["hidden"]}}.origin.{{remap[item.key]["cache_time"]}}m.
{%- if dnets[remap[item.key]["network"]] is defined and dnets[remap[item.key]["network"]] %}
{{dnets[remap[item.key]["network"]]}}
{%- else %}
{{dnets[default_dnet]}}
{%- endif %}
{%- if remap[item.key]["origin_https_port"] is defined %}:{{remap[item.key]["origin_https_port"]}}/
{%- else %}
/
{%- endif %}
{% if remap[item.key]["confremap"] is defined and remap[item.key]["confremap"] %} @plugin=conf_remap.so @pparam=/usr/local/trafficserver/conf/conf.d/{{item.key}}.config
{% else %}

{% endif %}
{% endif %}
{% if "additional_domain_prefix" in remap[item.key] and remap[item.key]["additional_domain_prefix"] %}

{% for prefix in remap[item.key]["additional_domain_prefix"] %}
map http://{{prefix}}.{{item.key}}/ http://{{remap[item.key]["hidden"]}}.origin.{{remap[item.key]["cache_time"]}}m.
{%- if dnets[remap[item.key]["network"]] is defined and dnets[remap[item.key]["network"]] %}
{{dnets[remap[item.key]["network"]]}}
{%- else %}
{{dnets[default_dnet]}}
{%- endif %}
{%- if remap[item.key]["origin_http_port"] is defined %}:{{remap[item.key]["origin_http_port"]}}/
{%- else %}
/
{% endif %}

{% if remap[item.key]["https"] %}
map https://{{prefix}}.{{item.key}}/ https://{{remap[item.key]["hidden"]}}.origin.{{remap[item.key]["cache_time"]}}m.
{%- if dnets[remap[item.key]["network"]] is defined and dnets[remap[item.key]["network"]] %}
{{dnets[remap[item.key]["network"]]}}
{%- else %}
{{dnets[default_dnet]}}
{%- endif %}
{%- if remap[item.key]["origin_https_port"] is defined %}:{{remap[item.key]["origin_https_port"]}}/
{%- else %}
/
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
{% endif %}
