# {{ no_edit_template }}
{% include "config/remap.config.all" ignore missing %}

# END include config/remap.config.all

{% include "config/remap.config." + item.key ignore missing %}

# END include config/remap.config.{{item.key}}
###############
###### N.B. added ^# TEST=<domain>$ line for use by 'edge_check.sh -H all' to test all Host headers.
######      it should be present for all live or near-live partners - and it should be contained in
######      in the origin hostname (for easy grepping, to poll origins direct)
###############

{% for site in remap | sort %}
{% if  remap[site]["network"] == item.key %}
.include	remap.d/{{site}}.config
{% endif %}
{% endfor %}

###################################################################
