# {{ansible_managed}}
# 
# include general config/ssl_multicert.d/header if found
{% include "config/ssl_multicert.d/header" ignore missing %}

# include dnet-specific config/ssl_multiecert.d/header.{{item.key}} if found
{% include "config/ssl_multicert.d/header." + item.key ignore missing %}

{% for site in remap -%}

{#- if site is in this dnet -#}
{%- if item.key == remap[site]["network"] -%}

{#- if https is on -#}
{%- if remap[site]["http_type"] == "https" or remap[site]["http_type"] == "https_only" or remap[site]["http_type"] == "https_redirect" -%}

# {{site}}
{# if LE is in use -#}
{%- if remap[site]["letsencrypt"] is defined and remap[site]["letsencrypt"] == true %}
# uses letsencrypt certs
{%- if leremap[site]["le_chain_exists"] is defined and leremap[site]["le_chain_exists"] == true %}

ssl_cert_name={{site}}.le.cert.crt ssl_key_name={{site}}.le.key ssl_ca_name={{site}}.le.chain.crt
{% else %}

# no letsencrypt chain found
{% if remap[site]["next_migration"] is defined and remap[site]["next_migration"] == True %}
# {{ site }} has been migrated to Deflect Next
{% endif %}
{% endif %}

{# else, if tls_bundle is defined -#}
{%- elif remap[site]["tls_bundle"] is defined -%}
# uses bundle client certs
{% if bundleremap[site]["user_cert_exists"] is defined and bundleremap[site]["user_cert_exists"] and bundleremap[site]["user_key_exists"] is defined and bundleremap[site]["user_key_exists"] and bundleremap[site]["user_chain_exists"] is defined and bundleremap[site]["user_chain_exists"] %}
ssl_cert_name={{site}}-{{remap[site]["tls_bundle"]}}.cert.crt ssl_key_name={{site}}-{{remap[site]["tls_bundle"]}}.key ssl_ca_name={{site}}-{{remap[site]["tls_bundle"]}}.chain.crt
{% elif bundleremap[site]["user_cert_exists"] is defined and bundleremap[site]["user_cert_exists"] and bundleremap[site]["user_key_exists"] is defined and bundleremap[site]["user_key_exists"] %}
ssl_cert_name={{site}}-{{remap[site]["tls_bundle"]}}.cert.crt ssl_key_name={{site}}-{{remap[site]["tls_bundle"]}}.key
{% else %}
{# should not happen because tls_bundle is defined -#}
# no bundle certs found.
{% endif %}

{# else, check for an include -#}{%- else %}
# include config/ssl_multicert.d/{{site}} if found
{% include "config/ssl_multicert.d/" + site ignore missing %}
 
{% endif -%}{%- endif -%}{%- endif -%}{%- endfor %}

# include dnet-specific config/ssl_multicert/footer.{{item.key}} if found
{% include "config/ssl_multicert.d/footer." + item.key ignore missing %}

# include general config/ssl_multicert.d/footer if found
{% include "config/ssl_multicert.d/footer" ignore missing %}
