# {{ no_edit_template }}
# 

# include general ssl_multicert header if found
{% include "config/ssl_multicert.d/header" ignore missing %}

# include dnet-specific ssl_multicert header if found
{% include "config/ssl_multicert.d/header." + item.key ignore missing %}

{% for site, values in remap %}

{# if site is in this dnet #}
{% if item.key == values["network"] %}

{# if https is on #}
{% if remap[site]["http_type"] == "https" or remap[site]["http_type"] == "https_only" or remap[site]["http_type"] == "https_redirect" %}

# {{site}} 

{# if LE is in use #}
{% if remap[site]["letsencrypt"] is defined and remap[site]["letsencrypt"] == true %}

ssl_cert_name={{site}}.le.cert.crt ssl_key_name={{site}}.le.key ssl_ca_name={{site}}.le.chain.crt

{# else, if tls_bundle is defined #}
{% elif remap[site]["tls_bundle"] is defined %}

# note: ATS gracefully handles a missing ca/chain cert, so we can
# include it without worrying about whether it exists
ssl_cert_name={{site}}-{{remap[site]["tls_bundle"]}}.cert.crt ssl_key_name={{site}}-{{remap[site]["tls_bundle"]}}.key ssl_ca_name={{site}}-{{remap[site]["tls_bundle"]}}.chain.crt

{# else, check for an include #}
{% else %}{% include "config/ssl_multicert.d/{{site}}" ignore missing %}
{% endif %}

{% endif %}
{% endif %}
{% endfor %}

# include dnet-specific ssl_multicert footer if found
{% include "config/ssl_multicert.d/footer." + item.key ignore missing %}

# include general ssl_multicert footer if found
{% include "config/ssl_multicert.d/footer" ignore missing %}
