# {{ no_edit_template }}
# 
# START letsencrypt certs

{% for site in remap %}
{% if  remap[site]["network"] == item.key %}
{% if remap[site]["letsencrypt"] is defined and remap[site]["letsencrypt"] -%} 
# {{site}} - Let's Encrypt certs
ssl_cert_name={{site}}.cert.crt ssl_key_name={{site}}.key ssl_ca_name={{site}}.chain.crt
{% endif %}
{% endif %}
{% endfor %}

# START include config/ssl_multicert.config.{{item.key}} 
{% include "config/ssl_multicert.config." + item.key ignore missing %}

# START include config/ssl_multicert.config.all
{% include "config/ssl_multicert.config.all" ignore missing %}
